body {
  line-height: 1.5;
  color: #333;
  background-color: #EAEAEA;
  font-family: Georgia, serif;
  background: #000 url('img/nightsky_bg-ani.gif') repeat;
}

body, button, input, select, textarea {
  font-family: "Montserrat", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

img {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

img:hover {
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  transform:rotate(360deg);
}

.container {
  max-width: 700px;
  width: 90%;
  margin: 1.5em auto;
  background-color: #FFF;
  padding: 2em 5%;
  box-shadow: 0 5px 10px #000;
  text-align: center;
}

.img-flex {
  width: 100%;
  height: auto;
}

nav {
  margin-bottom: 1em;
}

nav a {
  text-decoration: none;
  padding: .5em;
}

nav a:hover {
  text-decoration: underline;
}

.nav-link-home {
  font-family: 'Verdana', bold;
  color: green;
}