body {
  line-height: 1.5;
  color: #333;
  background-color: #EAEAEA;
  font-family: Comic Sans, cursive, sans-serif;
  background: #000 url('img/nightsky_bg-ani.gif') repeat;
}

img {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

img:hover {
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
  transform:rotate(360deg);
}

.container {
  max-width: 700px;
  width: 90%;
  margin: 1.5em auto;
  background-color: #FFF;
  padding: 2em 5%;
  border-radius: 1em;
  box-shadow:
    10px 10px 10px pink,
    -10px -10px 10px lightblue
  ;
}

.img-flex {
  width: 100%;
  height: auto;
  border-radius: 1em;
  border: 3px solid lightblue;
}

nav {
  margin-bottom: 1em;
}

nav a {
  text-decoration: none;
  padding: .5em;
}

nav a:hover {
  text-decoration: underline;
}
.nav-link-home {
  font-family: 'Verdana', bold;
  color: green;
}
.nav-link-about {
  font-family: 'Verdana', bold;
  color: red;
}
.nav-link-jana {
  font-family: 'Verdana', bold;
  color: yellow;
}
.nav-link-beate {
  font-family: 'Verdana', bold;
  color: pink;
}
.nav-link-basti {
  font-family: 'Verdana', bold;
  color: blue;
}
.nav-link-qate {
  font-family: 'Verdana', bold;
  color: orange;
}
.nav-link-lindsey {
  font-family: 'Verdana', bold;
  color: purple;
}
.nav-link-kriesse {
  font-family: 'Verdana', bold;
  color: red;
}





